<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Meeting Room</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
  <link href="img/favorite.png" rel="shortcut icon"/>
  <link rel="stylesheet" href="dist/css/AdminLTE.css"/>
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
	<div style="text-align:center">
		<img alt="lock" src="img/notfound.jpg">
	</div>
	<div style="text-align:center">
		<h3>Maaf, Halaman Yang Anda Cari Tidak Ada</h3>
		<div><a th:href="@{home}" class="btn btn-fifth btn-flat">Home</a></div>
	</div>
</body>
</html>